.confirm-email-area {
    height: 100vh;
    overflow-x: hidden;
    padding: {
        top: 30px;
        bottom: 30px;
    };
}
.daxa-form {
    max-width: 930px;
    padding: 100px;

    .title {
        margin-bottom: 25px;

        h3 {
            margin-bottom: 5px;
        }
    }
    .admin {
        margin-bottom: 30px;

        .logo {
            width: 200px;
            height: 200px;
            background-color: #f4f6fc;
            margin: {
                left: auto;
                right: auto;
            };
            i {
                left: 0;
                right: 0;
                top: 50%;
                font-size: 55px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
        span {
            font-size: 18px;
            margin-top: 20px;
        }
    }
    .btn {
        &.mat-mdc-button {
            border: 0;
            width: 100%;
            height: auto;
            display: block;
            min-width: auto;
            min-height: auto;
            padding: 17px 30px;
            text-align: center;
            font-weight: normal;
            color: var(--whiteColor);
            background-color: var(--daxaColor);

            &[disabled] {
                background-color: #eff3f9;
            }
        }
    }
    &.card-borderd-theme {
        box-shadow: var(--borderBoxShadow) !important;
    }
    &.component-dark-theme {
        .admin {
            .logo {
                background-color: #28333f;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .confirm-email-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 100%;
        padding: 35px 15px;
    
        .title {
            margin-bottom: 20px;
        }
        .admin {
            margin-bottom: 25px;
    
            .logo {
                width: 150px;
                height: 150px;
            }
            span {
                font-size: 16px;
                margin-top: 15px;
            }
        }
        .btn {
            &.mat-mdc-button {
                padding: 14px 30px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .daxa-form {
        max-width: 540px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .confirm-email-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 720px;
        padding: 70px;
    
        .title {
            margin-bottom: 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .daxa-form {
        padding: 90px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .daxa-form {
        padding: 100px 130px;
    }

}