<div
    class="stat-item position-relative"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <h5>
        New Leads
    </h5>
    <div class="number lh-1 fw-medium">
        705
    </div>
    <span class="daxa-up-down-badge position-relative">
        <i class="material-symbols-outlined">
            trending_up
        </i>
        2.15%
    </span>
    <div class="chart">
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [xaxis]="chartOptions.xaxis!"
            [stroke]="chartOptions.stroke!"
            [dataLabels]="chartOptions.dataLabels!"
            [colors]="chartOptions.colors!"
            [yaxis]="chartOptions.yaxis!"
            [grid]="chartOptions.grid!"
            [labels]="chartOptions.labels!"
            [legend]="chartOptions.legend!"
        ></apx-chart>
        <div class="title d-block text-body">
            This Week
        </div>
    </div>
</div>