<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        FAQ
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Pages
        </li>
        <li class="breadcrumb-item position-relative">
            FAQ
        </li>
    </ol>
</div>

<!-- FAQ -->
<div class="row">
    <div class="col-xxl-6">
        <app-basic-accordion></app-basic-accordion>
        <app-advance-accordion></app-advance-accordion>
    </div>
    <div class="col-xxl-6">
        <app-basic-expansion></app-basic-expansion>
        <app-advance-expansion></app-advance-expansion>
    </div>
</div>