.mat-mdc-card {
    &.daxa-card {
        &.create-order-card {
            .mat-mdc-card-content {
                .title {
                    margin-bottom: 20px;
                }
                .main-label {
                    margin-bottom: 12px;
                }
                .your-order-info {
                    margin-bottom: 20px;
                    
                    .mat-mdc-button {
                        color: var(--daxaColor);
                        min-width: auto;
                        height: auto;
                        padding: 0;
                    }
                }
                .your-order-table {
                    margin: {
                        left: -20px;
                        right: -20px;
                    };
                    table {
                        width: 100%;
                        border-spacing: 0;

                        thead {
                            tr {
                                th {
                                    text-align: left;
                                    padding: 15px 20px;
                                    white-space: nowrap;
                                    background-color: #e7effd;

                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    border-bottom: 1px dashed #e0e0e0;
                                    white-space: nowrap;
                                    padding: 15px 20px;

                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                                &:last-child {
                                    td {
                                        padding-bottom: 0;
                                        border-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.component-dark-theme {
                .mat-mdc-card-content {
                    .your-order-table {
                        table {
                            thead {
                                tr {
                                    th {
                                        background-color: #131920;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        border-color: rgba(255, 255, 255, 0.09);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .your-order-table {
                        table {
                            thead {
                                tr {
                                    th {
                                        text-align: right;
    
                                        &:last-child {
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        &:last-child {
                                            text-align: left;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.create-order-card {
                .mat-mdc-card-content {
                    .btn-box {
                        .mat-mdc-button {
                            border: 0;
                            height: auto;
                            min-width: auto;
                            min-height: auto;
                            padding: 13px 40px;
                            font-weight: normal;
                            color: var(--whiteColor);
                            background-color: var(--daxaColor);

                            &:not(:first-child) {
                                margin-left: 10px;
                                background-color: var(--dangerColor);
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                &:not(:first-child) {
                                    margin: {
                                        left: 0;
                                        right: 10px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.create-order-card {
                .mat-mdc-card-content {
                    .title {
                        margin-bottom: 15px;
                    }
                    .main-label {
                        margin-bottom: 10px;
                    }
                    .your-order-info {
                        margin-bottom: 15px;
                    }
                    .your-order-table {
                        margin: {
                            left: -15px;
                            right: -15px;
                        };
                        table {
                            thead {
                                tr {
                                    th {
                                        padding: 15px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        padding: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.create-order-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 13px 18px;
    
                                &:not(:first-child) {
                                    margin-left: 8px;
                                }
                            }
                        }
                    }
                    &.rtl-enabled {
                        .mat-mdc-card-content {
                            .btn-box {
                                .mat-mdc-button {
                                    &:not(:first-child) {
                                        margin: {
                                            left: 0;
                                            right: 8px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.create-product-card {
                .mat-mdc-card-content {
                    .your-order-table {
                        margin: {
                            left: -20px;
                            right: -20px;
                        };
                        table {
                            thead {
                                tr {
                                    th {
                                        padding: {
                                            left: 20px;
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        padding: {
                                            left: 20px;
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.create-order-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 13px 32px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}