<div class="container">
    <div class="content-container">
        <h1 class="text-white">OMANTIXHUNT</h1>
        <h3 class="text-white">India's first metaverse treasure hunt.</h3>
    </div>
    <div class="signup-container">
        <div class="sign-up-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div
                        class="daxa-form ml-auto mr-auto border-radius bg-white"
                        [class.card-borderd-theme]="themeService.isCardBorder()"
                        [class.component-dark-theme]="themeService.isDark()"
                        [class.rtl-enabled]="themeService.isRTLEnabled()"
                    >
                        <div class="title text-center">
                            <h3>
                                Sign Up
                            </h3>
                            <p class="text-black">
                                Already have an account? <a routerLink="/authentication" class="text-daxa">Sign In</a>
                            </p>
                        </div>
                        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    First Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter first name
                                    </mat-label>
                                    <input matInput type="text" id="firstName" formControlName="firstName">
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('firstName')!.hasError('required') && authForm.get('firstName')!.touched">
                                    First name is required.
                                </div>
                                <div class="error text-danger" *ngIf="authForm.get('firstName')!.hasError('firstName') && authForm.get('firstName')!.touched">
                                    Please enter a valid name.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    Last Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter last name
                                    </mat-label>
                                    <input matInput type="text" id="lastName" formControlName="lastName">
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('lastName')!.hasError('required') && authForm.get('lastName')!.touched">
                                    Last Name is required.
                                </div>
                                <div class="error text-danger" *ngIf="authForm.get('lastName')!.hasError('name') && authForm.get('lastName')!.touched">
                                    Please enter a valid name.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput type="email" id="email" formControlName="email">
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('email')!.hasError('required') && authForm.get('email')!.touched">
                                    Email is required.
                                </div>
                                <div class="error text-danger" *ngIf="authForm.get('email')!.hasError('email') && authForm.get('email')!.touched">
                                    Please enter a valid email address.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    Username
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter Username
                                    </mat-label>
                                    <input matInput type="text" id="username" formControlName="username">
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('username')!.hasError('required') && authForm.get('username')!.touched">
                                    Username is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    WhatsApp Number
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter WhatsApp Number
                                    </mat-label>
                                    <input matInput type="text" id="waNumber" formControlName="waNumber">
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('waNumber')!.hasError('required') && authForm.get('waNumber')!.touched">
                                    WhatsApp Number is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-black">
                                    Your Password
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter your password
                                    </mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <span class="material-symbols-outlined">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </span>
                                    </button>
                                </mat-form-field>
                                <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('required') && authForm.get('password')!.touched">
                                    Password is required.
                                </div>
                                <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('minlength') && authForm.get('password')!.touched">
                                    Password must be at least 8 characters long.
                                </div>
                            </div>
                            <mat-checkbox>
                                I accept the <a href="javascript:void(0);" class="text-daxa">Terms and conditions</a>
                            </mat-checkbox>
                            <button mat-button class="btn" type="submit" [disabled]="authForm.invalid">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>