<div class="container">
    <div class="signup-container">
        <div class="omantix-container">
            <img src="../../../assets/images/icons/OMANTIX.jpeg" alt="OMANTIX" class="omantix">
            <span class="omantix-text">OMANTIXVERSE MEDIATECH PVT. LTD.</span>
        </div>
        <div class="sign-up-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div
                        class="daxa-form ml-auto mr-auto"
                        [class.card-borderd-theme]="themeService.isCardBorder()"
                        [class.component-dark-theme]="themeService.isDark()"
                        [class.rtl-enabled]="themeService.isRTLEnabled()"
                    >
                        <div class="title text-center">
                            <h3 class="text-white" style="font-weight: 600;">
                                Sign Up
                            </h3>
                            <p class="text-white">
                                Already have an account? <a routerLink="/authentication"  class="text-white" style="font-weight: 600;">Login</a>
                            </p>
                        </div>
                        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    First Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter first name
                                    </mat-label>
                                    <input matInput type="text" id="firstName" formControlName="firstName">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Last Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter last name
                                    </mat-label>
                                    <input matInput type="text" id="lastName" formControlName="lastName">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput type="email" id="email" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Username
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter Username
                                    </mat-label>
                                    <input matInput type="text" id="username" formControlName="username">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    WhatsApp Number
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter WhatsApp Number
                                    </mat-label>
                                    <input matInput type="text" id="waNumber" formControlName="waNumber">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Your Password
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter your password
                                    </mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <span class="material-symbols-outlined">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </span>
                                    </button>
                                </mat-form-field>
                            </div>
                            <mat-checkbox>
                                <p class="text-white">I accept the Terms & Conditions</p>
                            </mat-checkbox>
                            <button mat-button class="btn" type="submit" [disabled]="authForm.invalid">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>