.mat-mdc-card {
    &.daxa-card {
        &.team-card {
            .mat-mdc-card-header {
                margin-bottom: 0;
            }
            .mat-mdc-card-content {
                .image {
                    margin-right: 15px;

                    img {
                        width: 100px;
                        border-radius: 50%;
                    }
                }
                h5 {
                    margin-bottom: 5px;
                }
                .title {
                    font-size: 18px;
                    margin: {
                        top: 13px;
                        bottom: 10px;
                    };
                }
                .users-list {
                    margin: {
                        top: 12px;
                        bottom: 13px;
                    };
                    img {
                        width: 42px;
                        border-radius: 50%;
                        margin-right: -13px;
                        border: 2px solid var(--whiteColor);
                        
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .mat-mdc-progress-bar {
                    --mdc-linear-progress-active-indicator-color: var(--infoColor);
                    --mdc-linear-progress-active-indicator-height: 5px;
                    --mdc-linear-progress-track-height: 5px;
                    margin-left: 10px;
                }
                .mat-mdc-button {
                    border: 0;
                    height: auto;
                    min-width: auto;
                    min-height: auto;
                    margin-top: 17px;
                    padding: 12px 35px;
                    font-weight: normal;
                    color: var(--whiteColor);
                    font-size: 15px !important;
                    background-color: var(--daxaColor);
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.team-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        .mat-mdc-card-subtitle {
                            .mat-mdc-button {
                                &.card-header-menu-btn {
                                    top: 20px;
                                    right: 20px;
                                    position: absolute;
        
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Dark Mode CSS
.component-dark-theme {
    .mat-mdc-card {
        &.daxa-card {
            &.team-card {
                .mat-mdc-card-content {
                    .users-list {
                        img {
                            border-color: #1b232d;
                        }
                    }
                }
            }
        }
    }
}

// RTL Enabled
.rtl-enabled {
    .mat-mdc-card {
        &.daxa-card {
            &.team-card {
                .mat-mdc-card-content {
                    .image {
                        margin: {
                            left: 15px;
                            right: 0;
                        };
                    }
                    .users-list {
                        img {
                            margin: {
                                right: 0;
                                left: -13px;
                            };
                            &:last-child {
                                margin-left: 0;
                            }
                        }
                    }
                    .mat-mdc-progress-bar {
                        margin: {
                            left: 0;
                            right: 10px;
                        };
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.team-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .mat-mdc-button {
                                    &.card-header-menu-btn {
                                        right: auto;
                                        left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.team-card {
                .mat-mdc-card-content {
                    .image {
                        margin-right: 12px;

                        img {
                            width: 100px;
                        }
                    }
                    .title {
                        font-size: 16px;
                    }
                    .mat-mdc-button {
                        margin-top: 15px;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.team-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .mat-mdc-button {
                                    &.card-header-menu-btn {
                                        top: 15px;
                                        right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // RTL Enabled
    .rtl-enabled {
        .mat-mdc-card {
            &.daxa-card {
                &.team-card {
                    .mat-mdc-card-content {
                        .image {
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
        ::ng-deep {
            .mat-mdc-card {
                &.daxa-card {
                    &.team-card {
                        .mat-mdc-card-header {
                            .mat-mdc-card-header-text {
                                .mat-mdc-card-subtitle {
                                    .mat-mdc-button {
                                        &.card-header-menu-btn {
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.team-card {
                    .mat-mdc-card-header {
                        .mat-mdc-card-header-text {
                            .mat-mdc-card-subtitle {
                                .mat-mdc-button {
                                    &.card-header-menu-btn {
                                        right: 20px;
                                        top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // RTL Enabled
    .rtl-enabled {
        ::ng-deep {
            .mat-mdc-card {
                &.daxa-card {
                    &.team-card {
                        .mat-mdc-card-header {
                            .mat-mdc-card-header-text {
                                .mat-mdc-card-subtitle {
                                    .mat-mdc-button {
                                        &.card-header-menu-btn {
                                            right: auto;
                                            left: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}