.mat-mdc-card {
    &.daxa-card {
        &.order-summary-card {
            .mat-mdc-card-content {
                .info {
                    margin-bottom: 20px;
                    font-size: 15px;
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.order-summary-card {
                .mat-mdc-card-content {
                    .apexcharts-tooltip {
                        .apexcharts-tooltip-series-group {
                            padding-right: 12px;
                            border-bottom: 0;
                        }
                    }
                    .apexcharts-canvas {
                        margin: auto;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.order-summary-card {
                .mat-mdc-card-content {
                    .info {
                        margin-bottom: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.order-summary-card {
                    .mat-mdc-card-content {
                        .apexcharts-tooltip {
                            .apexcharts-tooltip-series-group {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}