<mat-card
    class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <span class="d-block text-white">
                        {{ currentDate }}
                    </span>
                    <h3 class="text-white">
                        Welcome Mateo,
                    </h3>
                    <p class="text-white">
                        You are a Pro-Hunter! 😎
                    </p>
                </div>
            </div>
        </div>
</mat-card>