<mat-card
    class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <span class="d-block text-white">
                        {{ currentDate }}
                    </span>
                    <h3 class="text-white">
                        Welcome Mateo,
                    </h3>
                    <p class="text-white">
                        Welcome to OmantixHunt - India's first metaverse treasure hunt, where virtual realms intertwine with real-world adventures to unveil a groundbreaking journey like never before. Dive into a realm where pixels pave the path to treasures, and avatars embark on quests that transcend boundaries. Join us as we redefine exploration in the digital age, bridging the gap between imagination and reality in an immersive experience that promises excitement, discovery, and endless possibilities. Get ready to traverse through the metaverse and unearth treasures that await the bold and the curious. Welcome to the future of treasure hunting.
                    </p>
                </div>
            </div>
        </div>
</mat-card>