.example-container {
    width: 400px;
    max-width: 100%;
    vertical-align: top;
    margin: 0 25px 25px 0;
    display: inline-block;
}
.example-list {
    background: var(--whiteColor);
    border: solid 1px #dae0ec;
    border-radius: 4px;
    min-height: 60px;
    overflow: hidden;
    display: block;
}
.example-box {
    cursor: move;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background: var(--whiteColor);
    justify-content: space-between;
    border-bottom: solid 1px #dae0ec;

    &.cdk-drag-disabled {
        background: #cccccc;
        cursor: not-allowed;
        user-select: none;
    }
}
.cdk-drag-preview {
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
    border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.component-dark-theme {
    .example-list {
        background: #1b232d;
        border-color: rgba(255, 255, 255, 0.09);
    }
    .example-box {
        background: #1b232d;
        border-color: rgba(255, 255, 255, 0.09);

        &.cdk-drag-disabled {
            background: #131920;
        }
    }
}