<div class="row">
    <div class="col-xxxl-3">
        <mat-card
            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
            [class.component-dark-theme]="themeService.isDark()"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Profile Intro
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="user d-flex align-items-center">
                    <div class="image">
                        <img src="assets/images/profile.jpg" class="rounded-circle" alt="profile-image">
                    </div>
                    <div class="title">
                        <span class="d-block fw-medium">
                            Micheal Collins
                        </span>
                        <span class="d-block text-body">
                            micheal&#64;gmail.com
                        </span>
                    </div>
                </div>
                <span class="sub-title d-block fw-medium">
                    About Me
                </span>
                <p>
                    Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat. Pellentesque viverra lorem malesuada nunc tristique sapien. Imperdiet sit hendrerit tincidunt bibendum donec adipiscing.
                </p>
                <h5>
                    Social Profile
                </h5>
                <div class="socials-link">
                    <a href="https://www.facebook.com/" target="_blank" class="facebook d-inline-block text-center position-relative rounded-circle">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="twitter d-inline-block text-center position-relative rounded-circle">
                        <i class="ri-twitter-fill"></i>
                    </a>
                    <a href="https://www.linkedin.com/" target="_blank" class="linkedin d-inline-block text-center position-relative rounded-circle">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="mailto:micheal@gmail.com" class="mail d-inline-block text-center position-relative rounded-circle">
                        <i class="ri-mail-fill"></i>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card
            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Profile Information
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="info-list pl-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-body">User ID:</span> 7001
                    </li>
                    <li>
                        <span class="text-body">Full Name:</span> Micheal Collins
                    </li>
                    <li>
                        <span class="text-body">Email:</span> micheal&#64;example.com
                    </li>
                    <li>
                        <span class="text-body">Role:</span> Administrator
                    </li>
                    <li>
                        <span class="text-body">Location:</span> New York, USA
                    </li>
                    <li>
                        <span class="text-body">Join Date:</span> May 10, 2022
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card
            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Additional Information
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul class="info-list pl-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-body">Phone:</span> +1 444 266 5599
                    </li>
                    <li>
                        <span class="text-body">Address:</span> 84 S. Arrowhead Court Branford
                    </li>
                    <li>
                        <span class="text-body">Orders:</span> 696
                    </li>
                    <li>
                        <span class="text-body">Products:</span> 9240
                    </li>
                    <li>
                        <span class="text-body">Events:</span> 5
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card
            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
            [class.component-dark-theme]="themeService.isDark()"
            [class.rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Teams
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="team-group d-flex align-items-center">
                    <div class="users d-flex align-items-center">
                        <img src="assets/images/users/user1.jpg" alt="user-image">
                        <img src="assets/images/users/user2.jpg" alt="user-image">
                        <div class="fw-medium bg-info text-white rounded-circle">
                            +3
                        </div>
                    </div>
                    <div class="info">
                        <span class="d-block fw-medium">
                            Mobile app development
                        </span>
                        <span class="d-block text-body">
                            5 Members
                        </span>
                    </div>
                </div>
                <div class="team-group d-flex align-items-center">
                    <div class="users d-flex align-items-center">
                        <img src="assets/images/users/user5.jpg" alt="user-image">
                        <img src="assets/images/users/user6.jpg" alt="user-image">
                        <div class="fw-medium bg-info text-white rounded-circle">
                            +2
                        </div>
                    </div>
                    <div class="info">
                        <span class="d-block fw-medium">
                            Daxa dashboard design
                        </span>
                        <span class="d-block text-body">
                            4 Members
                        </span>
                    </div>
                </div>
                <div class="team-group d-flex align-items-center">
                    <div class="users d-flex align-items-center">
                        <img src="assets/images/users/user8.jpg" alt="user-image">
                        <img src="assets/images/users/user9.jpg" alt="user-image">
                        <div class="fw-medium bg-info text-white rounded-circle">
                            +4
                        </div>
                    </div>
                    <div class="info">
                        <span class="d-block fw-medium">
                            Database development
                        </span>
                        <span class="d-block text-body">
                            6 Members
                        </span>
                    </div>
                </div>
                <div class="team-group d-flex align-items-center">
                    <div class="users d-flex align-items-center">
                        <img src="assets/images/users/user11.jpg" alt="user-image">
                        <img src="assets/images/users/user12.jpg" alt="user-image">
                        <div class="fw-medium bg-info text-white rounded-circle">
                            +3
                        </div>
                    </div>
                    <div class="info">
                        <span class="d-block fw-medium">
                            Hotel management system
                        </span>
                        <span class="d-block text-body">
                            5 Members
                        </span>
                    </div>
                </div>
                <div class="team-group d-flex align-items-center">
                    <div class="users d-flex align-items-center">
                        <img src="assets/images/users/user14.jpg" alt="user-image">
                        <img src="assets/images/users/user15.jpg" alt="user-image">
                        <div class="fw-medium bg-info text-white rounded-circle">
                            +5
                        </div>
                    </div>
                    <div class="info">
                        <span class="d-block fw-medium">
                            Product development
                        </span>
                        <span class="d-block text-body">
                            7 Members
                        </span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-9">
        <app-all-projects></app-all-projects>
        <div class="row">
            <div class="col-xxxl-8">
                <app-recent-activity></app-recent-activity>
            </div>
            <div class="col-xxxl-4">
                <div class="row">
                    <div class="col-lg-6 col-xxxl-12">
                        <mat-card
                            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
                            [class.component-dark-theme]="themeService.isDark()"
                            [class.rtl-enabled]="themeService.isRTLEnabled()"
                        >
                            <mat-card-header>
                                <mat-card-title>
                                    <h5 class="mt-0 mb-0">
                                        Followers
                                    </h5>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h5 class="mt-0 mb-0">
                                        712
                                    </h5>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="followers-list">
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Salvatore Dewall
                                                </span>
                                                <span class="d-block text-body">
                                                    dewall&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Alina Smith
                                                </span>
                                                <span class="d-block text-body">
                                                    smith&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user5.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Russell Colon
                                                </span>
                                                <span class="d-block text-body">
                                                    colon&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user6.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Leslie Shadle
                                                </span>
                                                <span class="d-block text-body">
                                                    shadle&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user7.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Raymond Nguyen
                                                </span>
                                                <span class="d-block text-body">
                                                    nguyen&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Salvatore Dewall
                                                </span>
                                                <span class="d-block text-body">
                                                    dewall&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Alina Smith
                                                </span>
                                                <span class="d-block text-body">
                                                    smith&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user5.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Russell Colon
                                                </span>
                                                <span class="d-block text-body">
                                                    colon&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user6.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Leslie Shadle
                                                </span>
                                                <span class="d-block text-body">
                                                    shadle&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user7.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Raymond Nguyen
                                                </span>
                                                <span class="d-block text-body">
                                                    nguyen&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6 col-xxxl-12">
                        <mat-card
                            class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
                            [class.component-dark-theme]="themeService.isDark()"
                            [class.rtl-enabled]="themeService.isRTLEnabled()"
                        >
                            <mat-card-header>
                                <mat-card-title>
                                    <h5 class="mt-0 mb-0">
                                        Following
                                    </h5>
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <h5 class="mt-0 mb-0">
                                        57
                                    </h5>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="followers-list">
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user12.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Lenore Crum
                                                </span>
                                                <span class="d-block text-body">
                                                    crum&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user11.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Paul Bartlett
                                                </span>
                                                <span class="d-block text-body">
                                                    paul&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user10.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Nikki Lowe
                                                </span>
                                                <span class="d-block text-body">
                                                    nikki&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user9.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Milton Laskowski
                                                </span>
                                                <span class="d-block text-body">
                                                    milton&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user8.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Ethel Hillen
                                                </span>
                                                <span class="d-block text-body">
                                                    hillen&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Salvatore Dewall
                                                </span>
                                                <span class="d-block text-body">
                                                    dewall&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Alina Smith
                                                </span>
                                                <span class="d-block text-body">
                                                    smith&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user5.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Russell Colon
                                                </span>
                                                <span class="d-block text-body">
                                                    colon&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user6.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Leslie Shadle
                                                </span>
                                                <span class="d-block text-body">
                                                    shadle&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                    <div class="follower d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="image">
                                                <img src="assets/images/users/user7.jpg" class="rounded-circle" alt="user-image">
                                            </div>
                                            <div class="title">
                                                <span class="d-block fw-medium">
                                                    Raymond Nguyen
                                                </span>
                                                <span class="d-block text-body">
                                                    nguyen&#64;gmail.com
                                                </span>
                                            </div>
                                        </div>
                                        <button
                                            mat-button
                                            class="text-body p-0 h-auto"
                                        >
                                            Add Friend
                                        </button>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>