<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Avatars
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item position-relative">
            Avatars
        </li>
    </ol>
</div>

<!-- Avatars -->
<div class="row">
    <div class="col-xxl-6">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Image Size Rounded-Circle
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-md-flex align-items-center">
                    <img src="assets/images/admin.png" width="130" height="130" class="rounded-circle" alt="admin-image">
                    <img src="assets/images/admin.png" width="110" height="110" class="rounded-circle" alt="admin-image">
                    <img src="assets/images/admin.png" width="90" height="90" class="rounded-circle" alt="admin-image">
                    <img src="assets/images/admin.png" width="70" height="70" class="rounded-circle" alt="admin-image">
                    <img src="assets/images/admin.png" width="50" height="50" class="rounded-circle" alt="admin-image">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-6">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Image Size Square-Circle
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-md-flex align-items-center">
                    <img src="assets/images/blue-man.jpg" width="130" height="130" class="border-radius" alt="admin-image">
                    <img src="assets/images/blue-man.jpg" width="110" height="110" class="border-radius" alt="admin-image">
                    <img src="assets/images/blue-man.jpg" width="90" height="90" class="border-radius" alt="admin-image">
                    <img src="assets/images/blue-man.jpg" width="70" height="70" class="border-radius" alt="admin-image">
                    <img src="assets/images/blue-man.jpg" width="50" height="50" class="border-radius" alt="admin-image">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-6">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Avatar Size Rounded-Circle
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-md-flex align-items-center">
                    <div class="rounded-circle justify-content-center bg-gray align-items-center d-flex fw-bold fs-25 text-daxa text-center w-130 h-130">
                        Ab
                    </div>
                    <div class="rounded-circle justify-content-center bg-gray align-items-center d-flex fw-bold fs-20 text-daxa text-center w-110 h-110">
                        Ab
                    </div>
                    <div class="rounded-circle justify-content-center bg-gray align-items-center d-flex fw-bold fs-18 text-daxa text-center w-90 h-90">
                        Ab
                    </div>
                    <div class="rounded-circle justify-content-center bg-gray align-items-center d-flex fw-bold fs-18 text-daxa text-center w-70 h-70">
                        Ab
                    </div>
                    <div class="rounded-circle justify-content-center bg-gray align-items-center d-flex fw-bold text-daxa text-center w-50 h-50">
                        Ab
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-6">
        <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Avatar Size Square-Circle
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-md-flex align-items-center">
                    <div class="border-radius justify-content-center bg-gray align-items-center d-flex fw-bold fs-25 text-daxa text-center w-130 h-130">
                        Ab
                    </div>
                    <div class="border-radius justify-content-center bg-gray align-items-center d-flex fw-bold fs-20 text-daxa text-center w-110 h-110">
                        Ab
                    </div>
                    <div class="border-radius justify-content-center bg-gray align-items-center d-flex fw-bold fs-18 text-daxa text-center w-90 h-90">
                        Ab
                    </div>
                    <div class="border-radius justify-content-center bg-gray align-items-center d-flex fw-bold fs-18 text-daxa text-center w-70 h-70">
                        Ab
                    </div>
                    <div class="border-radius justify-content-center bg-gray align-items-center d-flex fw-bold text-daxa text-center w-50 h-50">
                        Ab
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>