.daxa-card {
    .d-md-flex {
        margin-top: -15px;

        div {
            margin: {
                top: 15px;
                right: 15px;
            };
        }
    }
    img {
        margin: {
            right: 15px;
            top: 15px;
        };
    }
}