<div
    class="stat-item position-relative"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <h5>
        Revenue Growth
    </h5>
    <div class="number lh-1 fw-medium">
        $1,207
    </div>
    <span class="daxa-up-down-badge position-relative">
        <i class="material-symbols-outlined">
            trending_up
        </i>
        20.75%
    </span>
    <div class="chart">
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [dataLabels]="chartOptions.dataLabels!"
            [plotOptions]="chartOptions.plotOptions!"
            [yaxis]="chartOptions.yaxis!"
            [xaxis]="chartOptions.xaxis!"
            [tooltip]="chartOptions.tooltip!"
            [legend]="chartOptions.legend!"
            [colors]="chartOptions.colors!"
            [grid]="chartOptions.grid!"
        ></apx-chart>
        <div class="title d-block text-body">
            Weekly Growth
        </div>
    </div>
</div>