.example-dialog-content {
    width: 200px;
    cursor: move;
    height: 200px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: solid 1px #eeeeee;
    background: var(--whiteColor);
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;

    &:active {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}