.terms-conditions-card {
    h4 {
        margin-bottom: 20px;
    }
    .title {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn-box {
        .mat-mdc-button {
            border: 0;
            height: auto;
            min-width: auto;
            min-height: auto;
            padding: 13px 40px;
            font-weight: normal;
            color: var(--whiteColor);
            background-color: var(--daxaColor);

            &:not(:first-child) {
                margin-left: 15px;
                background-color: var(--dangerColor);
            }
        }
    }
    &.rtl-enabled {
        .btn-box {
            .mat-mdc-button {
                &:not(:first-child) {
                    margin: {
                        left: 0;
                        right: 15px;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .terms-conditions-card {
        h4 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        .btn-box {
            .mat-mdc-button {
                padding: 12px 25px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}