<mat-card class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                User Information
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
            <li>
                <span class="text-body">Username:</span> mateo13
            </li>
            <li>
                <span class="text-body">Full Name:</span> Mateo Luca
            </li>
            <li>
                <span class="text-body">Email:</span> mateo&#64;email.com
            </li>
            <li>
                <span class="text-body">WhatsApp Number:</span> +91 9876543210
            </li>
            <li>
                <span class="text-body">Join Date:</span> March 10, 2024
            </li>
        </ul>
    </mat-card-content>
</mat-card>