.mat-mdc-card {
    &.daxa-card {
        &.product-development-card {
            .mat-mdc-card-content {
                .info {
                    padding: 20px;
                    margin-bottom: 12px;

                    .icon {
                        width: 50px;
                        height: 50px;
                        margin-right: 12px;
                        background-color: #857af8;

                        i {
                            left: 0;
                            right: 0;
                            top: 50%;
                            font-size: 26px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                    .info-title {
                        margin-bottom: 4px;
                        font-size: 18px;
                    }
                    .mat-mdc-progress-bar {
                        --mdc-linear-progress-active-indicator-color: var(--infoColor);
                        --mdc-linear-progress-active-indicator-height: 10px;
                        --mdc-linear-progress-track-color: #594dc3;
                        --mdc-linear-progress-track-height: 10px;
                        margin: {
                            top: 20px;
                            bottom: 8px;
                        };
                    }
                }
                .title {
                    font-size: 18px;
                    margin: {
                        bottom: 12px;
                        top: 18px;
                    };
                }
                ul {
                    margin-top: 20px;

                    li {
                        margin-bottom: 15px;
                        padding-left: 15px;

                        &::before {
                            left: 0;
                            top: 50%;
                            width: 6px;
                            height: 6px;
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            background: var(--infoColor);
                            transform: translateY(-50%);
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .info {
                        .icon {
                            margin: {
                                right: 0;
                                left: 12px;
                            };
                        }
                    }
                    ul {
                        padding-right: 0;
    
                        li {
                            padding: {
                                left: 0;
                                right: 15px;
                            };
                            &::before {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.product-development-card {
                .mat-mdc-card-content {
                    .info {
                        padding: 15px;
    
                        .item {
                            margin-bottom: 15px;
                        }
                        .icon {
                            width: 45px;
                            height: 45px;
    
                            i {
                                font-size: 24px;
                            }
                        }
                        .info-title {
                            font-size: 16px;
                        }
                        .mat-mdc-progress-bar {
                            margin-top: 0;
                        }
                    }
                    .title {
                        font-size: 16px;
                        margin: {
                            bottom: 10px;
                            top: 15px;
                        };
                    }
                    p {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    ul {
                        margin-top: 12px;
    
                        li {
                            margin-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}