.mat-mdc-card {
    &.daxa-card {
        &.settings-card {
            .mat-mdc-card-content {
                .title {
                    margin-bottom: 20px;
                }
                .main-label {
                    margin-bottom: 12px;
                }
                .minus {
                    margin-top: -3px;
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.settings-card {
                .mat-mdc-card-content {
                    .mat-mdc-radio-button {
                        margin-right: 30px;

                        .mdc-radio {
                            padding: 0 3px 0 0;
                            cursor: pointer;
                            margin: 0;
                        }
                        .mdc-label {
                            cursor: pointer;
                            color: var(--bodyColor);
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    .mat-mdc-checkbox {
                        margin-bottom: 12px;
                        display: block;

                        .mdc-checkbox {
                            padding: 0;
                            margin: 0;

                            .mdc-checkbox__native-control {
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                            }
                            .mdc-checkbox__background {
                                top: 0;
                                left: 0;
                            }
                            .mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
                                border-radius: 2px;
                            }
                            .mat-mdc-checkbox-touch-target {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .mdc-label {
                            color: var(--bodyColor);
                            margin-left: 5px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .btn-box {
                        margin-top: 20px;
                        
                        .mat-mdc-button {
                            border: 0;
                            height: auto;
                            min-width: auto;
                            min-height: auto;
                            padding: 13px 40px;
                            font-weight: normal;
                            color: var(--whiteColor);
                            background-color: var(--daxaColor);

                            &:not(:first-child) {
                                margin-left: 10px;
                                background-color: var(--dangerColor);
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .mat-mdc-radio-button {
                            margin: {
                                right: 0;
                                left: 30px;
                            };
                            .mdc-radio {
                                padding: 0 0 0 3px;
                            }
                            &:last-child {
                                margin-left: 0;
                            }
                        }
                        .mat-mdc-checkbox {
                            .mdc-label {
                                margin: {
                                    left: 0;
                                    right: 5px;
                                };
                            }
                        }
                        .btn-box {
                            .mat-mdc-button {
                                &:not(:first-child) {
                                    margin: {
                                        left: 0;
                                        right: 10px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.settings-card {
                .mat-mdc-card-content {
                    .title {
                        margin-bottom: 15px;
                    }
                    .main-label {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.settings-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                padding: 13px 18px;
    
                                &:not(:first-child) {
                                    margin-left: 8px;
                                }
                            }
                        }
                    }
                    &.rtl-enabled {
                        .mat-mdc-card-content {
                            .btn-box {
                                .mat-mdc-button {
                                    &:not(:first-child) {
                                        margin: {
                                            left: 0;
                                            right: 8px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}