.mat-mdc-card {
    &.daxa-card {
        &.first-response-time-card {
            .mat-mdc-card-content {
                position: relative;
                height: 144px;

                h3 {
                    span {
                        font-size: var(--fontSize);
                    }
                }
                .chart {
                    left: -42px;
                    right: -31px;
                    bottom: -50px;
                    position: absolute;
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.first-response-time-card {
                border: {
                    bottom: {
                        left-radius: 0 !important;
                        right-radius: 0 !important;
                    }
                };
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.first-response-time-card {
                .mat-mdc-card-content {
                    .chart {
                        left: -37px;
                        right: -25px;
                        bottom: -45px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}