<mat-card
    class="daxa-card profile-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Profile Intro
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="user d-flex align-items-center">
            <div class="title">
                <span class="d-block fw-medium">
                    Mateo Luca
                </span>
                <span class="d-block text-body">
                    mateo13
                </span>
            </div>
        </div>
        <span class="sub-title d-block fw-medium">
            About Me
        </span>
        <p>
            Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat. Pellentesque viverra lorem malesuada nunc tristique sapien. Imperdiet sit hendrerit tincidunt bibendum donec adipiscing.
        </p>
    </mat-card-content>
</mat-card>