.example-small-box, .example-large-box {
    margin: 16px;
    padding: 16px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.example-small-box {
    height: 100px;
    width: 100px;
}
.example-large-box {
    height: 300px;
    width: 300px;
}