.example-container {
    height: 300px;
    border: 1px solid #dae0ec;
}
.example-sidenav-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-sidenav {
    padding: 20px;
}
.component-dark-theme {
    .example-container {
        border-color: rgba(255, 255, 255, 0.09);
    }
}