.mat-mdc-card {
    &.daxa-card {
        &.event-details-card {
            .mat-mdc-card-content {
                .title {
                    margin-bottom: 10px;
                }
                .info {
                    margin-top: 22px;

                    .icon {
                        width: 75px;
                        height: 75px;
                        margin-right: 15px;
                        background-color: #f4f6fc;

                        i {
                            left: 0;
                            right: 0;
                            top: 50%;
                            font-size: 45px;
                            margin-top: -2px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                    span {
                        &:not(:first-child) {
                            margin-top: 5px;
                        }
                    }
                }
                .btn-box {
                    margin-top: 30px;
                    padding-top: 30px;
                    border-top: 1px dashed #e0e0e0;
                }
                .list {
                    li {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                h5 {
                    margin: {
                        bottom: 17px;
                        top: 26px;
                    };
                }
                .features-list {
                    li {
                        margin-bottom: 15px;
                        padding-left: 15px;

                        &::before {
                            left: 0;
                            top: 50%;
                            width: 6px;
                            height: 6px;
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            background: var(--infoColor);
                            transform: translateY(-50%);
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.component-dark-theme {
                .mat-mdc-card-content {
                    .info {
                        .icon {
                            background-color: #28333f;
                        }
                    }
                    .btn-box {
                        border-color: rgba(255, 255, 255, 0.09);
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .info {
                        .icon {
                            margin: {
                                right: 0;
                                left: 15px;
                            };
                        }
                    }
                    .list {
                        padding-right: 0;
                    }
                    .features-list {
                        padding-right: 0;

                        li {
                            padding: {
                                left: 0;
                                right: 15px;
                            };
                            &::before {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
        &.speakers-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                };
                .speakers-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            padding: {
                                top: 14px;
                                bottom: 14px;
                            };
                        }
                        .mat-mdc-cell {
                            padding: {
                                top: 14px;
                                bottom: 14px;
                            };
                        }
                        .info {
                            .image {
                                width: 40px;
                                line-height: .01;
                                margin-right: 12px;

                                img {
                                    border-radius: 50%;
                                }
                            }
                            span {
                                &:not(:first-child) {
                                    font-size: 15px;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .speakers-table {
                        .mat-mdc-table {
                            .info {
                                .image {
                                    margin: {
                                        right: 0;
                                        left: 12px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .btn-box {
                        .mat-mdc-button {
                            padding: 0;
                            height: auto;
                            min-width: auto;
                            border-radius: 5px;
                            margin-right: 10px;
                            display: inline-block;
                            border: 1px solid #c2cada;
    
                            .mdc-button__label {
                                padding: 10px 30px 10px 60px;
                                display: block;

                                i {
                                    top: 50%;
                                    left: 30px;
                                    font-size: 20px;
                                    position: absolute;
                                    transform: translateY(-50%);
                                }
                            }
                            &:nth-child(1) {
                                color: var(--whiteColor);
                                border-color: var(--daxaColor);
                                background-color: var(--daxaColor);
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                &.component-dark-theme {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                border-color: rgba(255, 255, 255, 0.09);

                                &:nth-child(1) {
                                    border-color: var(--daxaColor);
                                }
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                margin: {
                                    right: 0;
                                    left: 10px;
                                };
                                .mdc-button__label {
                                    padding: {
                                        left: 30px;
                                        right: 60px;
                                    };
                                    i {
                                        left: auto;
                                        right: 30px;
                                    }
                                }
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .info {
                        margin-top: 0;
    
                        .d-flex {
                            margin-top: 15px;
                        }
                        .icon {
                            width: 55px;
                            height: 55px;
                            margin-right: 12px;
    
                            i {
                                font-size: 30px;
                                margin-top: 0;
                            }
                        }
                    }
                    .btn-box {
                        margin-top: 15px;
                        padding-top: 5px;
                    }
                    .list {
                        li {
                            margin-bottom: 12px;
                        }
                    }
                    h5 {
                        margin: {
                            bottom: 12px;
                            top: 20px;
                        };
                    }
                    .features-list {
                        li {
                            margin-bottom: 12px;
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .info {
                            .icon {
                                margin: {
                                    right: 0;
                                    left: 12px;
                                };
                            }
                        }
                    }
                }
            }
            &.speakers-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -15px;
                        right: -15px;
                    };
                    .speakers-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                padding: {
                                    top: 15px;
                                    bottom: 15px;
                                };
                            }
                            .mat-mdc-cell {
                                padding: {
                                    top: 15px;
                                    bottom: 15px;
                                };
                            }
                            .info {
                                span {
                                    &:not(:first-child) {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.event-details-card {
                    .mat-mdc-card-content {
                        .btn-box {
                            .mat-mdc-button {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.speakers-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -20px;
                        right: -20px;
                    };
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .mat-mdc-card {
        &.daxa-card {
            &.event-details-card {
                .mat-mdc-card-content {
                    .info {
                        margin-top: 20px;
    
                        .icon {
                            width: 65px;
                            height: 65px;
    
                            i {
                                font-size: 40px;
                            }
                        }
                    }
                    .btn-box {
                        margin-top: 25px;
                        padding-top: 25px;
                    }
                    h5 {
                        margin: {
                            bottom: 15px;
                            top: 25px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}