.lock-screen-area {
    height: 100vh;
    overflow-x: hidden;
    padding: {
        top: 30px;
        bottom: 30px;
    };
}
.daxa-form {
    max-width: 930px;
    padding: 100px;

    .title {
        margin-bottom: 25px;

        h3 {
            margin-bottom: 5px;
        }
    }
    .admin {
        margin-bottom: 20px;

        img {
            width: 200px;
            margin-bottom: -4px;
        }
        span {
            font-size: 18px;
            margin-top: 18px;
        }
    }
    form {
        .form-group {
            margin-bottom: 22px;

            .main-label {
                margin-bottom: 12px;
            }
            .error {
                font-size: 14px;
                margin-top: 7px;
            }
        }
        .btn {
            &.mat-mdc-button {
                border: 0;
                width: 100%;
                height: auto;
                display: block;
                min-width: auto;
                min-height: auto;
                padding: 17px 30px;
                font-weight: normal;
                color: var(--whiteColor);
                background-color: var(--daxaColor);

                &[disabled] {
                    background-color: #eff3f9;
                }
            }
        }
        .back-to-sign-in {
            margin-top: 22px;

            .mat-mdc-button {
                padding: 0;
                height: auto;
                min-width: auto;
                color: var(--daxaColor);

                i {
                    top: 50%;
                    left: -5px;
                    font-size: 22px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &.card-borderd-theme {
        box-shadow: var(--borderBoxShadow) !important;
    }
    &.component-dark-theme {
        form {
            .btn {
                &.mat-mdc-button {
                    &[disabled] {
                        opacity: 0.5;
                        background-color: var(--blackColor);
                    }
                }
            }
        }
    }
}
::ng-deep {
    .daxa-form {
        form {
            .back-to-sign-in {
                .mat-mdc-button {
                    .mdc-button__label {
                        padding-left: 22px;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .lock-screen-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 100%;
        padding: 35px 15px;
    
        .title {
            margin-bottom: 20px;
        }
        .admin {
            margin-bottom: 15px;
    
            img {
                width: 150px;
            }
            span {
                font-size: 16px;
                margin-top: 15px;
            }
        }
        form {
            .form-group {
                margin-bottom: 18px;
            }
            .btn {
                &.mat-mdc-button {
                    padding: 14px 30px;
                }
            }
            .back-to-sign-in {
                margin-top: 18px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .daxa-form {
        max-width: 540px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .lock-screen-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 720px;
        padding: 70px;
    
        .title {
            margin-bottom: 20px;
        }
        form {
            .form-group {
                margin-bottom: 20px;
            }
            .back-to-sign-in {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .daxa-form {
        padding: 90px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .daxa-form {
        padding: 100px 130px;
    }

}