
@import url('https://fonts.googleapis.com/css?family=Inter');
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row; 
    align-items: center;
    // background: linear-gradient(300deg,deepskyblue,darkviolet,blue);
    background-image: url('../../../assets/images/background/loginBG.png');
    // background-image: url('././assets/images/background/loginBG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    // background-size: 180% 180%;
    animation: gradient-animation 7s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

h1.text-white {
    font: 900;
}

h3.text-white {
    font-family: 'Source Code Pro', monospace;
}

.omantix-container {
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 30px;
  }

.omantix {
    width: 40px;
    height: 40px;
    position: absolute;
    object-fit: cover; 
}

.omantix-text {
    margin-left: 50px;
    // position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

.login-container {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.content-container {
    width: 60%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 10vw;
}

.title1 {
    color: #FFF;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 110% */
}
.title2 {
    font-family: Inter;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px; /* 110% */

    background: linear-gradient(90deg, #FFF 0%, #298AF3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Additional styling as needed */

.sign-in-area {
    height: 100vh;
    overflow-x: hidden;
    padding: {
        top: 30px;
        bottom: 30px;
    };
}
.daxa-form {
    border-radius: 40px;
    border: 3px solid rgba(101, 152, 229, 0.49);
    background: rgba(114, 152, 208, 0.37);
    backdrop-filter: blur(14.25px);
    max-width: 930px;
    padding: 40px;

    .title {
        margin-bottom: 25px;

        h3 {
            margin-bottom: 6px;
        }
    }
    form {
        .form-group {
            margin-bottom: 22px;
            
            .main-label {
                margin-bottom: 12px;
            }
            .error {
                font-size: 14px;
                margin-top: 7px;
            }
        }
        .info {
            a {
                position: relative;
                top: 2px;
            }
        }
        .btn {
            &.mat-mdc-button {
                border: 0;
                width: 100%;
                height: auto;
                display: block;
                min-width: auto;
                min-height: auto;
                margin-top: 22px;
                padding: 17px 30px;
                font-weight: normal;
                color: white;
                border-radius: 10px;
                background: linear-gradient(90deg, #298AF3 0%, #9401D4 100%);

                &[disabled] {
                    background-color: #eff3f9;
                }
            }
        }
        .signin-with-socials {
            margin-top: 22px;

            .or {
                z-index: 1;

                span {
                    background-color: var(--whiteColor);
                    padding: {
                        left: 25px;
                        right: 25px;
                    };
                }
                &::before {
                    left: 0;
                    right: 0;
                    top: 50%;
                    height: 1px;
                    content: '';
                    z-index: -1;
                    margin-top: 2px;
                    position: absolute;
                    background: #dae0ec;
                    transform: translateY(-50%);
                }
            }
            .socials {
                margin-top: 15px;

                .mat-mdc-button {
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    min-width: auto;
                    border-radius: 50%;
                    display: inline-block;
                    color: var(--whiteColor);
                    background-color: var(--daxaColor);
                    margin: {
                        left: 5px;
                        right: 5px;
                    };
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.facebook {
                        background-color: #3a559f;
                    }
                    &.twitter {
                        background-color: rgba(15, 20, 25, 1);
                    }
                    &.google {
                        background-color: #e02f2f;
                    }
                    &.linkedin {
                        background-color: #007ab9;
                    }
                }
            }
        }
    }
    &.card-borderd-theme {
        box-shadow: var(--borderBoxShadow) !important;
    }
    &.component-dark-theme {
        form {
            .btn {
                &.mat-mdc-button {
                    &[disabled] {
                        opacity: 0.5;
                        background-color: var(--blackColor);
                    }
                }
            }
            .signin-with-socials {
                .or {
                    span {
                        background-color: #1b232d;
                    }
                    &::before {
                        background: rgba(255, 255, 255, 0.09);
                    }
                }
            }
        }
    }
}
::ng-deep {
    .daxa-form {
        form {
            .mat-mdc-checkbox {
                .mdc-checkbox {
                    padding: 0;
                    margin: 0;

                    .mdc-checkbox__native-control {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .mdc-checkbox__background {
                        top: 0;
                        left: 0;
                    }
                    .mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
                        border-radius: 2px;
                    }
                    .mat-mdc-checkbox-touch-target {
                        width: 100%;
                        height: 100%;
                    }
                }
                .mdc-label {
                    color: var(--bodyColor);
                    margin-left: 5px;
                }
            }
        }
        &.rtl-enabled {
            form {
                .mat-mdc-checkbox {
                    .mdc-label {
                        margin: {
                            left: 0;
                            right: 5px;
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .sign-in-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 100%;
        padding: 35px 15px;
    
        .title {
            margin-bottom: 20px;
    
            h3 {
                margin-bottom: 5px;
            }
        }
        form {
            .form-group {
                margin-bottom: 18px;
            }
            .btn {
                &.mat-mdc-button {
                    margin-top: 18px;
                    padding: 14px 30px;
                }
            }
            .signin-with-socials {
                margin-top: 18px;
    
                .or {
                    span {
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                    }
                }
                .socials {
                    margin-top: 13px;
                }
            }
        }
    }
    ::ng-deep {
        .daxa-form {
            form {
                .mat-mdc-checkbox {
                    .mdc-label {
                        margin-left: 3px;
                    }
                }
            }
            &.rtl-enabled {
                form {
                    .mat-mdc-checkbox {
                        .mdc-label {
                            margin: {
                                left: 0;
                                right: 3px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .daxa-form {
        max-width: 540px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .sign-in-area {
        padding: {
            left: 12.5px;
            right: 12.5px;
        };
    }
    .daxa-form {
        max-width: 720px;
        padding: 40px;
    
        .title {
            margin-bottom: 20px;
        }
        form {
            .form-group {
                margin-bottom: 20px;
            }
            .btn {
                &.mat-mdc-button {
                    margin-top: 20px;
                }
            }
            .signin-with-socials {
                margin-top: 20px;
            }
        }
    }

}

@media (max-aspect-ratio: 1/1) {
    .title1 {
        color: #FFF;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: 50px; /* 110% */
    }
    .title2 {
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px; /* 110% */

        background: linear-gradient(90deg, #FFF 0%, #298AF3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .container {
        flex-direction: column; /* This will stack them top and bottom */
    }

    /* Adjust the widths of the containers for portrait mode */
    .login-container, .content-container {
        width: 100%; /* Full width for small screens */
        margin-left: 40px; /* Reset margins */
        margin-right: 40px;
    }

    .content-container {
        padding-top: 70px;
        padding-left: 30px; /* Reset padding */
        padding-bottom: 0px;
    }
    .omantix {
        width: 30px;
        height: 30px;
        position: absolute;
        object-fit: cover; 
    }
    
    .omantix-text {
        margin-left: 40px;
        // position: absolute;
        color: #FFF;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .daxa-form {
        padding: 40px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .daxa-form {
        padding: 40px;
    }

}