<div class="container">
    <div class="content-container">
        <div class="omantix-container">
            <img src="../../../assets/images/icons/OMANTIX.jpeg" alt="OMANTIX" class="omantix">
            <span class="omantix-text">OMANTIXVERSE MEDIATECH PVT. LTD.</span>
        </div>
        <span class="title1">India's <br> First</span><span class="title2">METAVERSE</span><span class="title1">Treasure Hunt.</span>
    </div>
    <div class="login-container">
        <div class="sign-in-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div
                        class="daxa-form ml-auto mr-auto"
                        [class.card-borderd-theme]="themeService.isCardBorder()"
                        [class.component-dark-theme]="themeService.isDark()"
                        [class.rtl-enabled]="themeService.isRTLEnabled()"
                    >
                        <div class="title text-center ">
                            <h3 class="text-white" style="font-weight: 600;">
                                Login
                            </h3>
                            <p class="text-white">
                                Don’t have an account yet? <a routerLink="/authentication/sign-up" class="text-white" style="font-weight: 600;">Sign Up</a>
                            </p>
                        </div>
                        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Username
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter Username
                                    </mat-label>
                                    <input matInput type="text" id="username" formControlName="username">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label class="main-label d-block lh-1 text-white">
                                    Your Password
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter your password
                                    </mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <span class="material-symbols-outlined">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </span>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="info d-flex justify-content-between align-items-center">
                                <mat-checkbox>
                                    <p class="text-white">
                                        Remember me
                                    </p>
                                </mat-checkbox>
                                <a routerLink="/authentication/forgot-password" class="d-inline-block text-white">
                                    Forgot Password?
                                </a>
                            </div>
                            <button mat-button class="btn" type="submit" [disabled]="authForm.invalid">
                                Sign In
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
