.daxa-card {
    input {
        width: 100%;
        height: 50px;
        display: block;
        border-radius: 5px;
        outline: 0 !important;
        border: 1px solid #dae0ec;
        padding: {
            left: 15px;
            right: 15px;
        };
    }
    span {
        font-size: 14px;
        margin-top: 10px;
    }
}
.component-dark-theme {
    .daxa-card {
        input {
            border-color: rgba(255, 255, 255, 0.2);
        }
    }
}