<mat-card class="daxa-card course-videos-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="title">
            <h5>
                Course Videos
            </h5>
            <div class="number fw-medium lh-1">
                100+
            </div>
        </div>
        <div class="icon text-center bg-info rounded-circle text-white position-relative">
            <img src="assets/images/icons/video-content.svg" alt="video-content-icon">
        </div>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="sub-title d-block text-body">
                This Month
            </span>
            <span class="daxa-up-down-badge position-relative">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
                2.15%
            </span>
        </div>
    </mat-card-content>
</mat-card>