<mat-card
    class="daxa-card transactions-history-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Transactions History
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                Last Month
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <button mat-menu-item>
                    Last Day
                </button>
                <button mat-menu-item>
                    Last Week
                </button>
                <button mat-menu-item>
                    Last Month
                </button>
                <button mat-menu-item>
                    Last Year
                </button>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="transactions-history-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Transaction Column -->
                    <ng-container matColumnDef="transaction">
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                <div class="icon">
                                    <i class="material-symbols-outlined">
                                        {{element.transaction.icon}}
                                    </i>
                                </div>
                                <div class="info">
                                    <span class="title text-black d-block">
                                        {{element.transaction.title}}
                                    </span>
                                    <span class="d-block text-body">
                                        {{element.transaction.subTitle}}
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <td mat-cell *matCellDef="let element">
                            <span class="plus-price d-block">
                                {{element.price.plusPrice}}
                            </span>
                            <span class="minus-price d-block">
                                {{element.price.minusPrice}}
                            </span>
                        </td>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>