.example-buttons {
    margin-bottom: -15px;
    
    button, a {
        margin: {
            right: 15px;
            bottom: 15px;
        };
    }
    a {
        &.mat-mdc-fab, &.mat-mdc-mini-fab {
            color: var(--whiteColor, inherit);
        }
    }
}