<div class="container">
    <mat-card
        class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient border-none d-block"
        style="margin: 20px 30px 30px 30px;"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <h4 class="text-white">
                        Level 1
                    </h4>
                    <br>
                    <p class="text-white" style="font-size: medium;">
                        In the realm where shadows dance with light, I'm found in whispers that elude the night. Without a form, yet I hold secrets deep, In every dream, and every thought you keep.
                    </p>
                </div>
            </div>
        </div>
    </mat-card>
    <div class="input-submit-container">
        <input matInput class="answer" placeholder="Your answer here">
        <button mat-button class="submit-btn">
            <a routerLink="/quizpage" style="color: white;">Submit</a>
        </button>
    </div>
</div>
