<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Line, Column & Area Chart
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [yaxis]="chartOptions.yaxis!"
            [xaxis]="chartOptions.xaxis!"
            [labels]="chartOptions.labels!"
            [stroke]="chartOptions.stroke!"
            [plotOptions]="chartOptions.plotOptions!"
            [markers]="chartOptions.markers!"
            [grid]="chartOptions.grid!"
            [colors]="chartOptions.colors!"
            [legend]="chartOptions.legend!"
            [fill]="chartOptions.fill!"
            [tooltip]="chartOptions.tooltip!"
        ></apx-chart>
    </mat-card-content>
</mat-card>