<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Strocked Circular Gauge RadialBar Chart
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [plotOptions]="chartOptions.plotOptions!"
            [labels]="chartOptions.labels!"
            [fill]="chartOptions.fill!"
            [stroke]="chartOptions.stroke!"
            [colors]="chartOptions.colors!"
        ></apx-chart>
    </mat-card-content>
</mat-card>