// Sidebar
.settings-sidebar {
    bottom: 0;
    opacity: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    z-index: 2221;
    position: fixed;
    visibility: hidden;
    border-radius: 10px 0 0 10px;
    transition: var(--transition);

    .settings-header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 20px;
        position: absolute;
    }
    .settings-body {
        padding-top: 80px;

        .p-20 {
            padding: 20px;
        }
        .switch-btn {
            width: 60px;
            height: 30px;
            cursor: pointer;
            position: relative;
            border-radius: 30px;
            display: inline-block;
            border: 1px solid #ededed;
            background-color: transparent;

            &::before {
                left: 4px;
                width: 22px;
                content: "";
                bottom: 3px;
                height: 22px;
                border-radius: 50%;
                position: absolute;
                background-color: #dad9d9;
                transition: var(--transition);
            }
            &.active {
                &::before {
                    left: 31px;
                    background-color: var(--daxaColor) !important;
                }
            }
        }
    }
    &.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    &.component-rtl-enabled {
        right: auto;
        left: -100%;

        &.active {
            right: auto;
            left: 0;
        }
    }
    &.component-dark-theme {
        .settings-body {
            .switch-btn {
                border-color: #413e3e !important;
    
                &::before {
                    background-color: var(--whiteColor);
                }
                &.active {
                    &::before {
                        background-color: var(--heraBlueColor);
                    }
                }
            }
        }
    }
}

// Settings Button
.settings-btn {
    right: 25px;
    bottom: 25px;
    z-index: 2221;
    position: fixed;
    transition: var(--transition);

    .mat-icon {
        animation: rotation 5s infinite linear;
    }
    &.active {
        right: 320px;
    }
    &.component-rtl-enabled {
        right: auto;
        left: 25px;
    
        &.active {
            right: auto;
            left: 320px;
        }
    }
}
@keyframes rotation {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(359deg);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    // Sidebar
    .settings-sidebar {
        width: 260px;

        .settings-header {
            padding: 15px;
        }
        .settings-body {
            padding-top: 70px;
    
            .p-20 {
                padding: 15px;
            }
            .hide-sidebar {
                pointer-events: none;
            }
        }
    }
    
    // Settings Button
    .settings-btn {
        right: 15px;
        width: 50px;
        bottom: 15px;
        height: 50px;
    
        &.active {
            right: 265px;
        }
        &.component-rtl-enabled {
            right: auto;
            left: 15px;
        
            &.active {
                right: auto;
                left: 265px;
            }
        }
    }
    
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    // Sidebar
    .settings-sidebar {
        .settings-body {
            .hide-sidebar {
                pointer-events: none;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    // Sidebar
    .settings-sidebar {
        .settings-body {
            .hide-sidebar {
                pointer-events: none;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}