<!-- Notifications -->
<mat-card class="daxa-card notifications-card mb-25 border-radius bg-white border-none d-block" style="margin-top: 30px;">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Notifications
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="notifications-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                     <!-- Content Column -->
                     <ng-container matColumnDef="content">
                        <th mat-header-cell *matHeaderCellDef>
                            Content
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-black fw-medium">
                            {{element.content.notificationName}}
                        </td>
                    </ng-container>

                    <!-- Timestamp Column -->
                    <ng-container matColumnDef="timestamp">
                        <th mat-header-cell *matHeaderCellDef>
                            Timestamp
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.timestamp.createdAt}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>