.mat-mdc-card {
    &.daxa-card {
        &.team-members-card {
            padding-bottom: 0;
            
            .mat-mdc-card-content {
                .team-members-table {
                    margin: {
                        left: -20px;
                        right: -20px;
                    };
                    table {
                        width: 100%;
                        border-spacing: 0;

                        thead {
                            tr {
                                th {
                                    padding: 15px 20px;
                                    white-space: nowrap;
                                    background-color: #e7effd;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    white-space: nowrap;
                                    padding: 20px 20px 0;

                                    .info {
                                        .image {
                                            width: 45px;
                                            line-height: .01;
                                            margin-right: 12px;

                                            img {
                                                border-radius: 50%;
                                            }
                                        }
                                        .title {
                                            font-size: 17px;
                                        }
                                        .sub-title {
                                            font-size: 14px;
                                            margin-top: 6px;
                                        }
                                    }
                                    .percentage {
                                        margin-bottom: 4px;
                                        font-size: 14px;
                                    }
                                    .mat-mdc-progress-bar {
                                        --mdc-linear-progress-active-indicator-height: 5px;
                                        --mdc-linear-progress-track-height: 5px;
                                    }
                                }
                                &:nth-child(1) {
                                    td {
                                        .mat-mdc-progress-bar {
                                            --mdc-linear-progress-active-indicator-color: var(--infoColor);
                                        }
                                    }
                                }
                                &:nth-child(3) {
                                    td {
                                        .mat-mdc-progress-bar {
                                            --mdc-linear-progress-active-indicator-color: var(--warningColor);
                                        }
                                    }
                                }
                                &:nth-child(4) {
                                    td {
                                        .mat-mdc-progress-bar {
                                            --mdc-linear-progress-active-indicator-color: var(--primaryColor);
                                        }
                                    }
                                }
                                &:nth-child(5) {
                                    td {
                                        .mat-mdc-progress-bar {
                                            --mdc-linear-progress-active-indicator-color: var(--successColor);
                                        }
                                    }
                                }
                                &:last-child {
                                    td {
                                        padding-bottom: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.component-dark-theme {
                .mat-mdc-card-content {
                    .team-members-table {
                        table {
                            thead {
                                tr {
                                    th {
                                        background-color: #131920;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .team-members-table {
                        table {
                            tbody {
                                tr {
                                    td {
                                        .info {
                                            .image {
                                                margin: {
                                                    right: 0;
                                                    left: 12px;
                                                };
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.team-members-card {
                .mat-mdc-card-content {
                    .team-members-table {
                        margin: {
                            left: -15px;
                            right: -15px;
                        };
                        table {
                            thead {
                                tr {
                                    th {
                                        padding: 10px 15px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        padding: 12px 15px 0;
    
                                        .info {
                                            .image {
                                                margin-right: 10px;
                                            }
                                            .title {
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                    &:last-child {
                                        td {
                                            padding-bottom: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .team-members-table {
                            table {
                                tbody {
                                    tr {
                                        td {
                                            .info {
                                                .image {
                                                    margin: {
                                                        right: 0;
                                                        left: 10px;
                                                    };
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.team-members-card {
                .mat-mdc-card-content {
                    .team-members-table {
                        margin: {
                            left: -20px;
                            right: -20px;
                        };
                        table {
                            thead {
                                tr {
                                    th {
                                        padding: {
                                            left: 20px;
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        padding: {
                                            left: 20px;
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .mat-mdc-card {
        &.daxa-card {
            &.team-members-card {
                .mat-mdc-card-content {
                    .team-members-table {
                        table {
                            tbody {
                                tr {
                                    td {
                                        .info {
                                            .title {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .mat-mdc-card {
        &.daxa-card {
            &.team-members-card {
                .mat-mdc-card-content {
                    .team-members-table {
                        table {
                            tbody {
                                tr {
                                    td {
                                        .info {
                                            .title {
                                                font-size: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}